region            = "ap-southeast-1"
availability_zone = "ap-southeast-1a"
ami               = "ami-0d058fe428540cd89"
bucket_name       = "sds-final-nextcloud-6130315421"
database_name     = "nextcloud"
database_user     = "username"
database_pass     = "password"
admin_user        = "admin"
admin_pass        = "admin"
main_vpc_cidr     = "10.0.0.0/16"
public_subnet     = "10.0.1.0/24"
private_subnet    = "10.0.2.0/24"
app2db_subnet     = "10.0.3.0/24"
instance_type     = "t2.micro"
